<%= form_for @profile do |f| %>

<% if @profile.errors.any? %>
    <% @profile.errors.full_messages.each do |msg| %>
    <%flash.notice = msg %>
  <% end %>
<% end %>

    <div class="well well-lg">
      <p class="text-center">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </p>
      <p class="text-center">
        <%= f.label :email %>
        <%= @profile.email %>
      </p>
      <p class="text-center">
        <strong> <%= f.label :birth_date %> </strong>
        <%= f.date_select :birth_date, start_year: 1970, end_year: 2015 %>
      </p>
      <p class="text-center">
        <%= collection_check_boxes(:profile, :instrument_ids, Instrument.all, :id, :name) %>
      </p>
      <p class="text-center">
        <%= f.submit %>
      </p>
    </div>
  </div>
  <hr>
  <a class="btn btn-primary btn-lg" href="/" role="button">Inicio</a>
</div>
<% end %>