<div class="jumbotron">

	<h1 align="center"> <%= @profile.name %> </h1>

  <div class="container">

  	<div class="well well-lg">
			<p class="text-center">
				<strong> Fecha de Nacimiento </strong>	<%= @profile.birth_date %>
			</p>
			<p class="text-center">
				<strong> Mail: </strong>	<%= @profile.email %>
			</p>

			<p class="text-center">
				<strong> Instrumentos : </strong>
				<% @profile.instruments.each do |profile| %>
					<span class="label label-primary"><%= profile.name %></span>
				<% end %>
			</p>
			<p class="text-center">
				<strong> Estilos Musicales: </strong>
				<% @profile.musical_styles.each do |profile| %>
					<span class="label label-primary"><%= profile.name %></span>
				<% end %>
			</p>

  	</div>
	</div>
	<hr>
	<% if policy(@profile).edit? %>
		<%= link_to " Editar ", edit_profile_path(@profile) , :class=>" btn btn-primary btn-lg"%>
	<% end %>
</div>