<div class="jumbotron">

	<h1 align="center"> <%= @profile.name %> </h1>

  <div class="container">

  	<div class="well well-lg">
			<p class="text-center">
				<strong> birth_date: </strong>	<%= @profile.birth_date %>
			</p>
			<p class="text-center">
				<strong> email: </strong>	<%= @profile.email %>
			</p>

			<p class="text-center">
				<% @profile.instruments.each do |profile| %>
					<span class="label label-primary"><%= profile.name %></span>
				<% end %>
			</p>

  	</div>
	</div>
	<hr>
	<a class="btn btn-primary btn-lg" href="/" role="button">Inicio</a>
	<% if policy(@profile).edit? %>
		<a class="btn btn-primary btn-lg" href=<%= edit_profile_path(@profile) %> role="button">Edit</a>
	<% end %>
</div>