<%= form_for @vacancy do |f| %>

  <div class="well well-lg">
    <div class="container">

      <div class="input-group input-group-lg col-md-5 col-md-offset-4">
        <%= f.label :Instrumento, :class=>"input-group-addon" %>
        <%= select("vacancy", "instrument_id", Instrument.all.collect {|instrument| [ instrument.name, instrument.id ] }, {}, { :class=>"form-control"}) %>
      </div>
      <br>
      <% if @edit %>
        <% band = Band.find(@vacancy.band_id)%>
        <div class="input-group input-group-lg col-md-5 col-md-offset-4">
          <%= f.label :Banda,:class=>"input-group-addon" %>
          <%= f.label band.name,:class=>"input-group-addon" %>
        </div>
      <% else %>
        <div class="input-group input-group-lg col-md-5 col-md-offset-4">
          <%= f.label :Banda ,  :class=>"input-group-addon"%>
          <%= select("vacancy", "band_id", current_user.band.collect {|instrument| [ instrument.name, instrument.id ] }, {}, { :class=>"form-control"}) %>
        </div>
      <% end %>

      </div>
    </div>
    <br>
    <div class="col-md-6 col-md-offset-5">
      <%= f.submit "Crear Vacante",:class=>"btn btn-primary btn-lg" %>
      <%= link_to "Cancelar", bands_path(), :class=>"btn btn-primary btn-lg" %>
    </div>
  </div>
</div>
<% end %>