<div class="jumbotron">
	<h2 align="center"> Vacantes </h2>
  <div class="container">
  	<div class="well well-lg" style="height:440px" >
        <% @vacancies.each do |vacancy| %>
          <% band = Band.find(vacancy.band_id)%>
          <% instrument = Instrument.find(vacancy.instrument_id)%>
          <div class="list-group col-md-6 col-md-offset-3">
            <a href=<%=band_path(band)%> class="list-group-item ">
              <h3 class="list-group-item-heading text-center"> Banda : <%= band.name %> </h3>
              <p class="list-group-item-text text-center"> Instrumento : <%= instrument.name %> </p>
              <% if policy(vacancy).edit? %>
                <%= link_to "editar", edit_vacancy_path(vacancy), :class=>"btn btn-primary btn-xs" %>
              <% end %>
              <% if policy(vacancy).destroy? %>
                <%= link_to "eliminar", vacancy_path(vacancy),:method => "DELETE",:class=>"btn btn-danger btn-xs"%>
              <% end %>
            </a>
          </div>
        <% end %>
		</div>
    <%= will_paginate @vacancies, :class=>"text-center", renderer: BootstrapPagination::Rails ,:class=>" pagination-sm " %>
  </div>
  <% if policy(Vacancy).create? %>
    <%= link_to 'Crear Vacante ', new_vacancy_path , :class=>"btn btn-primary btn-lg" %>
  <% end %>
</div>