<%= form_for @musical_style do |f| %>

  <% if @musical_style.errors.any? %>
    <% @musical_style.errors.full_messages.each do |msg| %>
      <%flash.alert = msg %>
    <% end %>
  <% end %>

  <div class="well well-lg">
    <p class="text-center">
      <%= f.label :name %> <%= f.text_field :name %>
    </p>
    <p class="text-center">
      <%= f.submit "Crear", :class=>"btn btn-primary btn-lg"%>
      <%= link_to "Cancelar", musical_styles_path(), :class=>"btn btn-primary btn-lg" %>
    </p>
  </div>
  </div>
</div>
<% end %>