<div class="jumbotron">
  <div class="container">
    <div class="well well-lg">
      <div class="row">

  <%if current_user.present?%>

<h3 align="center">
Inicio
</h3>
<hr>
        <div class="col-md-4 ">
          <div class="panel panel-default" >
            <div class="panel-heading">
              <h4 align="center">
                <%= link_to 'Nuevas Bandas Creadas', bands_path %>
              </h4 >
            </div>
            <div class="panel-body" style="height:170px">
              <p class="text-center">
                <% @bands.each do |band| %>
                 <%= link_to band.name, band_path(band) %> <br>
              <% end %>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4 ">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 align="center">
                <%= link_to 'Nuevos Usuarios Registrados', profiles_path %>
              </h4 >
            </div>
            <div class="panel-body"style="height:170px">
              <p class="text-center">
                <% @profiles.each do |profile| %>
                  <%= link_to profile.name, profile_path(profile) %>
                  <br>
                <% end %>
              </p>
            </div>
          </div>
      </div>

        <div class="col-md-4 ">
          <div class="panel panel-default" >
            <div class="panel-heading">
              <h4 align="center">
                <%= link_to 'Nuevas Vacantes', vacancies_path %>
              </h4 >
            </div>
            <div class="panel-body"style="height:170px">
              <p class="text-center">
                <% @vacancies.each do |vacancy| %>
                  <% i = vacancy.instrument %>
                  <% b = vacancy.band %>
                  <%= link_to b.name+" ("+i.name+")", vacancies_path() %>
                  <br>
                <% end %>
              </p>
            </div>
          </div>
        </div>
  <%else%>

<h3 align="center">
Bienvenidos
</h3>
<hr>
<p align="center">
  Esta pagina web se armo con el fin de juntar musicos<br>que tiene ganas de crear o integrar bandas
</p>

  <%end%>

    </div>
  </div>
  <hr>
  <p class="text-center">
    <%= link_to 'Perfiles', profiles_path, :class=>"btn btn-primary btn-lg" %>
    <%= link_to 'Bandas', bands_path, :class=>"btn btn-primary btn-lg" %>
  </p>
</div>