<%= form_for @band do |f| %>

  <div class="well well-lg">
    <p class="text-center">
      <%= f.label :Nombre %> <%= f.text_field :name %>
    </p>
    <p class="text-center">
      <%= f.label :Mail %> <%= f.text_field :mail %>
    </p>
    <p class="text-center">
      <%= f.label 'Fecha de Creacion' %> <%= f.date_select :creation_date, start_year: 1970, end_year: 2015 %>
    </p>
    <p class="text-center">
        <%= f.label 'Estylos musicales' %>
        <%= collection_check_boxes(:band, :musical_style_ids, MusicalStyle.all, :id, :name) %>
    </p>
    <p class="text-center">
      <%= f.submit "#{@mensaje_boton}",:class=>"btn btn-primary btn-lg" %>
      <%= link_to "Cancelar", bands_path(@band), :class=>"btn btn-primary btn-lg" %>
    </p>
  </div>

  </div>
  <hr>
</div>
<% end %>