<div class="jumbotron">

	<h1 align="center"> <%= @band.name %> </h1>

  <div class="container">

  	<div class="well well-lg">
			<p class="text-center">
				<strong> creation_date: </strong> <%= @band.creation_date %>
			</p>
			<p class="text-center">
				<strong> mail: </strong><%= @band.mail %>
			</p>
			<p class="text-center">
				<% @band.musical_styles.each do |band| %>
					<span class="label label-primary"><%= band.name %></span>
				<% end %>
			</p>
  	</div>
	</div>
	<hr>
	<% if policy(@band).edit? %>
		<%= link_to " ", edit_band_path(@band) , :class=>"glyphicon glyphicon-pencil btn btn-primary btn-lg"%>
		<% end %>
		<% if policy(@band).destroy? %>
		<%= link_to " ", band_path(@band) , :class=>"glyphicon glyphicon-remove btn btn-danger btn-lg"%>
	<% end %>
</div>

