<div class="jumbotron">

	<h1 align="center"> <%= @band.name %> </h1>

  <div class="container">

  	<div class="well well-lg">
			<p class="text-center">
				<strong> Fecha de Creacion: </strong> <%= @band.creation_date %>
			</p>
			<p class="text-center">
				<strong> Mail: </strong><%= @band.mail %>
			</p>
			<p class="text-center">
				<strong> Estilos Musicales </strong>
				<% @band.musical_styles.each do |band| %>
					<span class="label label-primary"><%= band.name %></span>
				<% end %>
			</p>
  	</div>
	</div>
	<hr>
	<% if policy(@band).edit? %>
		<%= link_to " Editar ", edit_band_path(@band) , :class=>" btn btn-primary btn-lg"%>
		<% end %>
		<% if policy(@band).destroy? %>
		<%= link_to " Eliminar ", band_path(@band) ,:method => "DELETE", :class=>" btn btn-danger btn-lg"%>
	<% end %>
</div>

