<div class="jumbotron">

	<h1 align="center"> <%= @band.name %> </h1>

  <div class="container">

  	<div class="well well-lg">
			<p class="text-center">
				<strong> creation_date: </strong> <%= @band.creation_date %>
			</p>
			<p class="text-center">
				<strong> mail: </strong><%= @band.mail %>
			</p>
  	</div>
	</div>
	<hr>
	<a class="btn btn-primary btn-lg" href="/" role="button">Inicio</a>
	<% if policy(@band).edit? %>
		<a class="btn btn-primary btn-lg" href=<%= edit_band_path(@band) %> role="button">Edit</a>
		<% end %>
		<% if policy(@band).destroy? %>
		<a class="btn btn-primary btn-lg" href=<%= band_path(@band) %> data-method="delete" role="button">Delete</a>
	<% end %>
</div>

